.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btn-back {
    position: absolute;
    left: 0px;
    top: 30px;
    font-size: 50px;
    color: black;
    border-radius: 50%;
}

.btn-back:hover {
    color: gray;
    cursor: pointer;
}