.informacion-animada {
    position: absolute;
    top: 450px; /* ajusta este valor */
    left: 20px;
    animation-name: desplegar;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    z-index: 9999;
    pointer-events: none;
}


@keyframes desplegar {
    from {
        transform: scaleY(0);
        transform-origin: bottom;
    }

    to {
        transform: scaleY(1);
        transform-origin: bottom;
    }
}

.botonInfo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.botonInfo:hover {
    color: gray;
    cursor: pointer;
}
